<div>
<div class="map-box col-xs-12">
  <div class="map-title">
  <h1>Monterey Locations |<small> Treasure Map</small></h1>
  <br/>
  </div>

<!-- google maps showing all markers on a single map -->
<script>
function initMap() {
  var markers = [];
  <% @places.each do |place| %>
  <% if place.latitude.present? && place.longitude.present? %>
      markers.push({name: "<%= place.name %>", location: {lat: <%= place.latitude %>, lng: <%= place.longitude %>}});
    <% end %>
  <% end %>
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 10,
    center: {lat: 36.4799, lng: -121.7328}
  });
  var infowindow = new google.maps.InfoWindow();
  
  var addMarkerToMap = function (element, index, array) {  
    var marker = new google.maps.Marker({
      position: element.location,
      map: map,
      title: element.name
    });
    google.maps.event.addListener(marker, 'click', function() { 
       infowindow.setContent(marker.title); 
       console.log("I have been clicked");
       infowindow.open(map, this);
    }); 
    return marker;
  };
  markers.forEach(addMarkerToMap); 
}
</script>

     <script async defer
         src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"></script>   
 <div id="map"></div>

</div>
<br class="clr" />
<br/>
</div>

<div class="map-page-text col-xs-8 col-xs-offset-2"> 

<h2>Explore with Gemster</h2>
<br/>
<br/>
  <p>
  With stunning coastlines and sweeping vistas, world-class golf courses, and gourmet cuisine-- there's no shortage of things to do. Don't forget to check out some of these hidden gems along the way. Need a sandwich for your hike? A chill bar to play a game of darts? We'll help you find what you need.
    </p>
  <br/>
  <p>
  And if you don't see your place here or you know of a place that you'd like to add, you can        <%= link_to 'create a new place', new_place_path %>.
</p>
</div> 
<br class="clr" />
<div class="clear"/> </div><!-- pushes footer to bottom -->

