<div>
<div class="map-box col-xs-12">
  <div class="map-title">
  <h1>Monterey Locations |<small> Treasure Map</small></h1>
  <br/>
  </div>

<!-- google maps showing all markers on a single map -->
<script>
function initMap() {
  var markers = [];
  <% @places.each do |place| %>
  <% if place.latitude.present? && place.longitude.present? %>
      markers.push({name: "<%= place.name %>", location: {lat: <%= place.latitude %>, lng: <%= place.longitude %>}});
    <% end %>
  <% end %>
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 10,
    center: {lat: 36.4799, lng: -121.7328}
  });
  var infowindow = new google.maps.InfoWindow();
  
  var addMarkerToMap = function (element, index, array) {  
    var marker = new google.maps.Marker({
      position: element.location,
      map: map,
      title: element.name
    });
    google.maps.event.addListener(marker, 'click', function() { 
       infowindow.setContent(marker.title); 
       console.log("I have been clicked");
       infowindow.open(map, this);
    }); 
    return marker;
  };
  markers.forEach(addMarkerToMap); 
}
</script>

     <script async defer
         src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"></script>   
 <div id="map"></div>

</div>
<br class="clr" />
<br/>
</div>

<div class="map-page-text col-xs-8 col-xs-offset-2"> 

<h2>Like What You See?</h2>
<br/>
<br/>
  <p>
  View stunning coastline and sweeping vistas, play a world-class round of golf, enjoy gourmet cuisine. But, don't forget to check out some of these gems along the way. Need a sandwich for your hike? A chill bar to play a game of darts? Check out these places off the beaten path and take refuge from crowds of summer tourists.
    </p>
  <br/>
  <p>
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. 
</p>
</div> 
<br class="clr" />
<div class="clear"/> <!-- pushes footer to bottom -->

